form{ 
    padding: 2em;
}

label {
    display: block;
    float: left;
    text-align: left;
    width: 30em;
    padding-right: 1em;
}

input, textarea{
    
    display: block;
    margin-bottom: 1em;
}

#mySubmit{
    margin-left: 13em;
}

#table { width: 90%; 
		margin: auto;
		border-spacing: 0px;
        background-color:#eef2fe ;
        }
		
td, th { padding: 10px;
		 border-style: none;
         text-align="center"
        
}


.left{
    float: left;
  width: 30%;
}
.right{
    float: left;
  width: 70%;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


tr:nth-of-type(odd){
    background-color: white;
}

header, nav, main, footer { display: block; }

body {  background-color: black; 
      background-image: url(background.gif);
      color: #221811;
      font-family: Verdana, Arial, sans-serif;
    
    
}

header { background-image: url(logo.png);
	   
	   background-repeat: no-repeat;
	   background-color: #eef2fe;
	   height: 150px;
    
    
}	  

h1 { padding-top: 45px;
    padding-left: 200px;
	font-size: 2.5em; 
    	text-align: center; }
h2{
    text-align: center;
}
#p{
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
}

#p2{
    vertical-align: middle;
    line-height: 30px; 
}
	
footer { background-color: #eef2fe;
       font-size: small;
	   font-style: italic;
	   text-align: center;
	   padding-bottom: 10px;
	   border-top: 2px #221811 solid; }
	   
#homepic { background-image: url(homepic.png);
           background-size: 100% 100%;
		   height: 200px; }
#cases { background-image: url(cases.png);
           background-size: 100% 100%;
		   height: 200px; }
#deaths { background-image: url(deaths.png);
           background-size: 100% 100%;
		   height: 200px; }


nav { text-align: center; 
     font-weight: bold; 
	 font-size: 1em;
	 padding-top: 10px;
	 float: left;
	 width: 200px; 
    


}
nav a { text-decoration: none; }
nav a:link { color: white; }
nav a:visited{ color: #F0F8FF; }
nav a:hover { color: #e2d8d0; }
nav ul { list-style-type: none;
       padding-left: 0;  
    box-sizing: border-box;


}
nav li{
    padding-bottom: 13px;
    line-height: 30px;
    
}


#wrapper {background-color: #231814;
           width: 90%;
           margin-right: auto;
		   margin-left: auto;
           min-width: 700px;
		   max-width: 1280px;
		   box-shadow: 3px 3px 3px;  }

h4 { text-transform: uppercase;
	background-color: #ffffcc;
	color: #663300;
	font-size: 1.2em;
	border-bottom: 1px solid #000000;
	padding: 5px 0 0 5px; 
	margin-right: 20px;
	clear: left; }

main { padding: 10px 20px 30px 20px;
	  margin-left: 150px;
	  background-color: #F0F8FF;
	  color: #000000; 
	  overflow: auto;
    height: 500px;
}


h3{
    text-align: center;

}



.details { padding-left: 20%;
		   padding-right: 20%; 
		   overflow: auto; }

img { padding-left: 10px;
     padding-right: 10px;
}
	   
.floatright { float: right;
			  padding-left: 20px; }
			  
.floatleft { float: left;
			padding: 0 20px 20px 0; }
		


#desktop { display: inline; }




